<h1 id="cbcl-title"><!-- CBCL-online --></h1>
	<div id="subtitle"></div>

    <h3>Hurtigindtastning er midlertidigt ude af drift</h3>

<div title="Vedligeholdelse" id="loginform" class="maintenance">
	<%= image_tag 'maintenance.png' %>
</div>

<br/>

<%= back_button journals_path %>