<% no = question.number %>
<% id = question.id.to_s %>

<div id='question_number<%= no %>'>

	<div class='edit_question'></div>
<%# end %>

<br>
<table class="question" id="question<%= id %>"> 
	<tbody>
	<%- 
	rows = question.rows_of_cols
	output = ["<input id='Q#{@no}_id_#{id}' name='Q#{no}[id]' type='hidden' value='#{id}' >"]
	
	index = 0
	rows.sort.each do |row, cols|
		color = index % 2 == 0 && "even" || "odd"
		# output << "<tr><td><div class='group span-1 row'>#{no > 0 && (no.to_roman + ". ") || '&nbsp;'}</div>" if row == 1
		output << "<tr><td><div id='row#{id}_#{row}' class='row'>\n"
		output << 
			if row == 1
				"\t<div class='group span-1'>#{no > 0 && (no.to_roman + ". ") || '&nbsp;'}</div>\n"
			else
				"\t<div class='span-2'>&nbsp;</div>\n"
			end
		
		no_cols = cols.size
		puts "cols: #{cols.size} #{cols.inspect}"
		puts "#{cols.first.type}  #{cols.last.answer_item} size: #{cols.size}"
		if cols.size == 2 && cols[1].type == 'Rating' && cols[2].type == 'ListItemComment'
			puts "cols before: #{cols.inspect}"
			output << ListItemComment.to_answer(cols, @options)
			next
		elsif cols.first.type == 'Rating'
			cols.reverse!
		end

		cols.each do |col, cell|
			html = #if cell.choice_id && cell.type == 'Description'
				# puts "HEHEHEHEHEHEH : " + cell.choice.full
				# cell.choice.full
			# elsif cell.datatype == :numeric && cell.choice_id
			# 	t = cell.choice.get_options[cell.value]
			# elsif cell.datatype == :numeric
			# 	cell.value
			# else
				# cell.to_html((@options || {:show_all => false}).merge(:number => no, :last => cell.col == no_cols))
				cell.to_answer((@options || {:show_all => false}).merge(:number => no, :last => cell.col == no_cols))
			# end
			output << html if html
		end
		output << "</div></td></tr>\n"
	end
		%>
<%= output.join.html_safe %>
	</tbody>
</table>

</div>

