<% if @cell %>
<td class="question">
	<%=
	answer_item = @cell.svar_item(false)
	item = @cell.question_items.first
  answer_item_set = true if @cell.col == 1
  span_item(((answer_item_set || @cell.col > 2) ? "" : answer_item) + item.text, "listitemtext".strip).html_safe.force_encoding("ISO-8859-1").encode("utf-8", replace: nil)
	%>
</td>
<% end %>