<p><img src="/images/users_48.png" border=0 align="middle" />
<span class="h3">Brugere</span></a><p>
</p>

    <% if shadow_user? %>
      <%= link_to image_tag('door.png', :border => 0, :class => 'icon', :alt => t('logout_shadow'), :title => t('logout_shadow')), shadow_logout_path %>
    <% end %>
    
	<div id="users">
		<%= render :partial => 'shared/user_list', :locals => {:users => @users} %>
	</div>
<br/>
<p>

<div class="commands">
<% if current_user.access? :user_new_in_center %>
	<%= link_button t('user.new'), new_user_path(current_user.center), 'user_add', :title => 'Opret ny bruger i centeret' %>
<% elsif current_user.access? :user_new %>
	<%= link_button t('user.new'), new_user_path, 'user_add' %>
<% end %>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#content').delegate('.pagination a', 'click', function() {
    $('#spinner').show();
    $.get('users/?page='+ $(this).text() + '&partial=true',
        function(data) {
          $('#users').html(data);
          $('#spinner').hide();
        });
    return false;
  });
})
</script>