<%= stylesheet_link_tag 'login_user' %>
<% @letters.each_with_index do |letter, i| 
	pagebreakstyle = i+1 < @letters.count && "page-break-after:always" || "" %>

<div style="<%= pagebreakstyle %>">
	<%= letter.letter.html_safe %>
</div>
<% end %>