<%= stylesheet_link_tag 'login_user' %>
<% @letters.each_with_index do |letter, i| 
	pagebreak = i+1 < @letters.count %>

<div <%= if pagebreak %> style="page-break-after:always" <% end %>>
	<%= letter.letter.html_safe %>
</div>
<% end %>