<%= stylesheet_link_tag 'login_user' %>
<% @letters.each_with_index do |letter, i| 
	pagebreakstyle = (i+1 < @letters.size) && "page-break-after:always; #{i}" || "" %>

<div style="<%= pagebreakstyle %>">
	<%= letter.letter.html_safe %>
</div>
<% end %>