<h2>Genererer dataudtræk</h2>
<h3>Dette kan tage et stykke tid</h3>

<span id="progress">Genererer</span>

<script type="text/javascript">
    generating_export = true;

	$(document).ready(function() {
    	setInterval(function() {
	      $.get('/exports/generating_export/' + <%= @task.id %>, function(response) {
	      	if(response.completed)
	      		$('#download_link').click(function() { location.href = response.export_file_path; return false; });
	      		$('#progress').fadeOut();
		      	$('#download_link').fadeIn();
	      });
   		}, 2000);
    });
</script>

<a id='download_link' href="/export_files/" class="button" style='display:none;'>
	<span class="download_excel_file">Hent eksportfil</span>
</a>
	
<%# periodically_call_remote(:url => {:action => :generating_export, :id => @task},
     :frequency => 5.0, :condition => "generating_export == true" ) -%>