<h2>Genererer dataudtræk</h2>
<h3>Dette kan tage et stykke tid</h3>

<span id="progress">Genererer</span>

<script type="text/javascript">
    generating_export = true;

	$(document).ready(function() {
    	var loop = setInterval(function() {
	      $.getJSON('/exports/generating_export/' + <%= @task.id %>, function(response) {
	      	if(response.completed) {
	      		console.log('Completed!');
				var file_url = response.export_file_path;
				var button = "<a id='download_link' style='display:none;' href='" + file_url + "' class='button'> " +
					"<span class='download_excel_file'>Hent eksportfil</span>" +
					"</a>";
				console.log(button);
	      		$('#progress').html(button);
		      	$('#download_link').fadeIn();

		      	clearInterval(loop);
		      }
	      });
   		}, 2000);
    });
</script>

	
<%# periodically_call_remote(:url => {:action => :generating_export, :id => @task},
     :frequency => 5.0, :condition => "generating_export == true" ) -%>